imports.mak
lib/
obj/
node_modules/
coverage/
docs/api_guide_*
docs/datasheet*
*.out
*.out*
*.xml
*.obj
*.profdata
*.map
*.zip
*.rprc
*.rprc_tmp
*.tmp
*.swp
*.rprc_xip
*.appimage
*.appimage_xip
*.appimage_qspi
*.appimage.signed
*.appimage.hs
*.appimage.hs_fs
*.appimage_qspi.hs
*.bin
*.tiimage
*.tiimage.hs
*.mcelf
*.mcelf.hs
*.mcelf-enc
*.mcelf_xip
*-fw
*.vscode/
*.vscode-ctags
temp_stdout_*.txt
generated/
mcusdk_tagfile
__pycache__/
!*boardcfg_*.bin
source/sysconfig/
source/board/pmic/pmic_lld/